body{
    background-color: aliceblue;
    padding: 2rem;
    text-align: center;
}
#pghead{
    text-align: center;
}
.head1{
    color: #00f;
    font-size: 4rem;
    margin: 1rem;
    display: flex;
    justify-content: center;
}
.headcontent{
    padding: 1rem;
}

.graph{
    width: 100%;
    background-color: lightblue;
    height: 30vh;
    font-size: 2rem;
}
.graphimg{
    background-color: blanchedalmond;
    height: 23vh;
    display: flex;
    justify-content: center;
}
.container1{
    display: flex;
    justify-content: space-around;
    margin: 1rem 20rem;
    background-color: beige;
    border: 0.2rem solid black;
}
.date{
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.dateform{
    padding: 1rem;
    margin: 0;
    font-size: 2rem;
    font-weight: 500;
}

.contain-map{
    margin: 1rem 0rem;
    width: 900px;
    height: 100vh;
    background-color: beige;
}
.container3{
    background-color: cadetblue;
    height: 70vh;
    padding: 2rem;
}
.usertimeline{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.timedata{
    padding: 1rem;
}
.timelinetxt{
    padding: 2rem;
    font-size: 3rem;
}
.timelinedata{
    background-color: aqua;
    margin: 0rem 30rem;
}
.usercred .usercredential{
    font-size: 2rem;
    padding: 1rem;

}
.yrname,.datename,.monthname{
    font-size: 2rem;
}